{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container text-center">
    <h1 class="mt-3 text-danger">I can't believe that just happened!</h1>
    <p><img class="error-gif" src="{{ url_for('static', filename='img/error.gif') }}" alt="WTF just happened?" /></p>
    <!-- The err_desc is an HTML string -->
    <span class="lead">{{ err_desc | safe }}</span>
    <p class="lead text-danger">{{ additional_info | default('') }}</p>
    <a href="{{ url_for('main.index') }}" class="btn btn-primary">Return to the Home Page</a>
</div>
{% endblock %}