{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block page_description %}{{ page_description_text }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_content %}
{% if current_user.is_anonymous %}
<h1>Welcome to Tracker!</h1>
{% else %}
<h1>Hello, {{ current_user.member_name }}!</h1>
{% endif %}
<br />
<table id="data-table" class="table table-striped display caption-top">
  <caption class="text-center">List of Members</caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Member Name</th>
      <th scope="col">Email</th>
      <th scope="col">Admin?</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for m in members_data %}
    <tr>
      <td>{{m.member_id}}</td>
      <td>{{m.member_name}}</td>
      <td>{{m.member_email}}</td>
      <td>{{m.member_is_admin}}</td>
      <td><a href="{{ url_for('admin_bp.view_member', member_id=m.member_id) }}" title="View Member">View</a></td>
      <td><a href="{{ url_for('admin_bp.edit_member', member_id=m.member_id) }}" title="Edit Member">Edit</a></td>
    </tr>
    {% endfor%}
  </tbody>
</table>
<br />
{% endblock %}
{% block footer_content %}
{{ super() }}
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
