{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>About Flask Template</h1>
<p>This demo allows you to administer course access for students.</p>
<hr />
<h2>Roles</h2>
<ul>
    <li><b><i>Chair:</i></b> Owns the course</li>
    <li><b><i>Teacher:</i></b> Can administer a course</li>
    <li><b><i>Student:</i></b> Can view a course</li>
</ul>
<hr />
<h2>Administration</h2>
<p><b>Course Administration:</b></p>
<ul>
    <li><b><i>Add a Course:</i></b> Anyone; the creator becomes the Chair of the Course</li>
    <li><b><i>View Courses:</i></b> Chairs, Teachers, and Students who are assigned to the Courses</li>
    <li><b><i>View a Course:</i></b> Chairs, Teachers, and Students who are assigned to the Course</li>
    <li><b><i>Edit a Course:</i></b> Chairs and Teachers who are assigned to the Course</li>
    <li><b><i>Delete a Course:</i></b> Chairs who are assigned to the Course</li>
</ul>
<p><b>Role and User Administration:</b> Administrators only.</h3>
<hr />
<h2>Setup the Test Database</h2>
<pre>
    # From the project root directory (e.g., ../flask-template)
    python3 -m flask db init
    python3 -m flask db migrate -m "Initial migration"
    python3 -m flask db upgrade
    python3 -m db_info.init_db

</pre>
<hr />
<h2>How to Run</h2>
<pre>
    # From the project root directory (e.g., ../flask-template)
    python3 -m flask run
    python3 -m flask --app app run
    python3 -m flask --app app --debug run  # Allow hot reloads
</pre>
<hr />
<h2>How to Test</h2>
<pre>
    # From the project root directory (e.g., ../flask-template)
    python3 -m unittest --verbose --buffer app.tests.test_app
</pre>
{% endblock %}