{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_content %}
<h1>Log In</h1>
<hr />
<form action="" method="POST" novalidate>
    <!-- Use hidden_tag instead of csrf_token -->
    {{ form.hidden_tag() }}
    <p><b>{{ form.member_name.label }}:</b></p>
    <p>{{ form.member_name(size=32) }}</p>
    {% for error in form.member_name.errors %}
    <p class="message-text">{{ error }}</p>
    {% endfor %}
    <p><b>{{ form.password.label }}:</b></p>
    <p>{{ form.password(size=32) }}</p>
    {% for error in form.password.errors %}
    <p class="message-text">{{ error }}</p>
    {% endfor %}
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}:</p>
    <p>{{ form.submit(class="btn btn-primary") }} <input type="button" class="btn btn-secondary" value="Cancel"
            onclick="window.location.href='{{ url_for('main_bp.index') }}'"></p>
</form>
{% endblock %}
