<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8"/>
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="{% block page_description %}{% endblock %}"/>
    <link rel="icon" type="image/x-icon"
          href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    {% endblock %}
    <script>
        /* to prevent Firefox FOUC, this must be here */
        let FF_FOUC_FIX;
    </script>
</head>

<body>
<header>
    {% block body_header %}{% endblock %}
</header>
<hr/>
<main>
    {% block main_content %}{% endblock %}
    <hr/>
</main>
<footer>
    {% block footer %}
    <small>
        &#169; <span id="currentYear"></span> - Tracker. All Rights Reserved.
    </small>
    {% endblock %}
</footer>
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
</body>

</html>