{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body_header %}
<h1>Hello, World!</h1>
{% endblock %}

{% block main_content %}
<img alt="My Logo" src="{{ url_for('static', filename='img/logo.png') }}" />
<h2>Courses Page</h2>
<table>
   <caption>List of Courses</caption>
   <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Code</th>
      <th>Group</th>
      <th>Description</th>
   </thead>
   {% for course in courses %}
   <tbody>
      <td>{{course.course_id}}</td>
      <td>{{course.course_name}}</td>
      <td>{{course.course_code}}</td>
      <td>{{course.course_group_code}}</td>
      <td>{{course.course_desc}}</td>
   </tbody>
   {% endfor%}
</table>
{% endblock %}