html {
    font-family: sans-serif;
}

body {
    /* Allow room for fixed navbar */
    margin-top: 10vh;
}

a {
    /* Do not underline links */
    text-decoration: none;
}

nav a,
footer a {
    /* Ensure links appear against dark backgrounds */
    color: deepskyblue;
}

nav {
    background-color: black;
    color: white;
    /* Fix the header and its height so the logo appears correctly */
    height: 10vh;
}

.nav_logo {
    /* Ensure logo fits in header with space between the logo and text */
    height: 6vh !important;
    padding-right: 1em;
}

#content {
    background-color: white;
    color: black;
    min-height: 85vh;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    background-color: black;
    color: white;
    /* Ensure the footer is on the bottom of the page when content does not fill the page */
    min-height: 5vh;
    padding-top: 1vh;
}
