{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}

{% block head %}
{{ super() }}
<style>
    html {
        color: {{ environments[selected_env]["env_text_color"] }};
        background-color: {{ environments[selected_env]["env_background_color"] }};
    }
    a {
        text-decoration: none;
        color: {{ environments[selected_env]["link_text_color"] }};
    }
</style>
{% endblock %}

{% block body_header %}
<h1>Test Page</h1>
{% endblock %}

{% block main_content %}
<form method="post" action="/test">
    <label for="environment">Choose an environment:</label>
    <select id="environment" name="environment">
        {% for environment in environments %}
        <option value="{{ environment }}" {% if environment == selected_env %}selected{% endif %}>{{ environment["env_name"] }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}