{% extends "base.html" %}
{% block page_title %}Welcome to Blue!{% endblock %}
{% block page_description %}Landing Page{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body_header %}
<h1>Hello, World!</h1>
{% endblock %}

{% block main_content %}
<img alt="My Logo" src="{{ url_for('static', filename='img/logo.png') }}"/>
<h2>I am Version 5.</h2>
<p>You are using Python {{ _python_version }}.</p>
<p>Your logging level is {{ _logging_level }}.</p>
<p>Check the <code>/blue_logs</code> directory for log entries.</p>
{% endblock %}