{% extends "base.html" %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block head %}
{{ super() }}
<!-- Using DataTables 2.0.0 -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}">
{% endblock %}
{% block content %}
{% if not current_user.is_admin %}
<h1>Welcome!</h1>
<p>This page is restricted to administrators.</p>
{% else %}
<h1>Welcome, {{ current_user.username }}!</h1>
<table id="data-table" class="table table-striped display caption-top">
  <caption class="text-center">List of Roles</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">ID</th>
      <th scope="col">Privilege Level</th>
      {% if current_user.is_admin %}
      <th scope="col">Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for role in roles %}
    <tr>
      <th scope="row">{{ role.role_name }}</th>
      <td>{{ role.role_id }}</td>
      <td>{{ role.role_privilege }}</td>
      {% if current_user.is_admin %}
      <td class="text-nowrap">
        <a class="btn btn-primary" href="{{ url_for('admin.edit_role', role_id=role.role_id) }}" title="Edit">Edit</a>
        <a class="btn btn-danger" href="{{ url_for('admin.delete_role', role_id=role.role_id) }}" title="Delete">Delete</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
<!-- Using DataTables 2.0.0 -->
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
{% if current_user.is_admin %}
<script type="text/javascript">
  let table = new DataTable('#data-table', {
    columnDefs: [{ orderable: false, targets: 2 }]
  });
</script>
{% else %}
<script type="text/javascript">
  let table = new DataTable('#data-table');
</script>
{% endif %}
{% endblock %}