{% extends "base.html" %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block head %}
{{ super() }}
<!-- Using DataTables 2.0.0 -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}">
{% endblock %}
{% block content %}
{% if current_user.is_anonymous %}
<h1>Welcome!</h1>
<p>You should log in.</p>
{% else %}
<h1>Welcome, {{ current_user.username }}!</h1>
<form action="" method="post" novalidata>
    {{ form.hidden_tag() }}
    <p>
        {{ form.planets }}<br>
    </p>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% endif %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
<!-- Using DataTables 2.0.0 -->
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
<script type="text/javascript">
    let table = new DataTable('#data-table', {
        order: [[0, 'asc']]
    });
</script>
{% endblock %}