<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page_title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
  <form method="GET" action="" enctype="multipart/form-data">
    <h1>{{ course_name }}</h1>
    <table class="table table-sm table-hover">
      <caption class="text-center">Assign Access to Courses</caption>
      <thead class="thead-light">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Access</th>
        </tr>
      </thead>
      <tbody>
        {% for _access_form, _fixed_fields in zip_object %}
        <tr>
          <td> {{ _fixed_fields.username }}</td>
          <td>
            {% for subfield in _access_form.access_code %}
            {{ subfield }}
            {{ subfield.label }}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</body>
</html>
