{% extends "base.html" %}
{% block page_title %}
{{ page_title_text }}
{% endblock %}
{% block page_description %}{{ page_description_text }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body_header %}
<h1>What a piece of junk!</h1>
{% endblock %}

{% block main_content %}
<img alt="My Logo" src="{{ url_for('static', filename='img/logo.png') }}" />
<p>Looks like those special modifications I made aren't working.</p>
<p>But we're a little rushed, so if you'll just click
<a href='/index' rel='nofollow' target='_self' title='Home'>here</a>, we'll get outta here.</p>
{% endblock %}