{% extends "base.html" %}

{% block content %}
<h1>Add Course</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.course_name.label }}<br>
        {{ form.course_name(size=64) }}<br>
        {% for error in form.course_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.course_code.label }}<br>
        {{ form.course_code(size=64) }}<br>
        {% for error in form.course_code.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.course_group.label }}<br>
        {{ form.course_group(size=64) }}<br>
        {% for error in form.course_group.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.course_desc.label }}<br>
        {{ form.course_desc(size=256, cols="64") }}<br>
        {% for error in form.course_desc.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class="btn btn-primary") }} <input type="button" class="btn btn-secondary" value="Cancel"
            onclick="history.back()"></p>
</form>
{% endblock %}