{% extends "base.html" %}

{% block content %}
<h1>Update Profile</h1>
<hr>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h2>{{ username }}</h2>
    <p>
        <p>{{ form.user_email.label }}</p>
        {{ form.user_email(size=128) }}<br>
        {% for error in form.user_email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <div style="border: 1px black solid; padding: 1em;">
        <p>
            <i>(Leave both fields blank to continue using the current password.)</i>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>
    <hr>
    <p>{{ form.submit(class="btn btn-primary") }} <input type="button" class="btn btn-secondary" value="Cancel"
            onclick="history.back()"></p>
</form>
{% endblock %}