{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block page_description %}{{ page_description_text }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_content %}
<h1>Add Course</h1>
<hr />
<form action="" method="post">
    <!-- Use hidden_tag instead of csrf_token -->
    {{ form.hidden_tag() }}

    <p><b>{{ form.course_name.label )):</b></p>
    <p>{{ form.course_name(size=64) }}</p>
    {% for error in form.course_name.errors %}
    <p class="message-text">{{ error }}</p>
    {% endfor %}

    <p><b>{{ form.course_code.label )):</b></p>
    <p>{{ form.course_code(size=64) }}</p>
    {% for error in form.course_code.errors %}
    <p class="message-text">{{ error }}</p>
    {% endfor %}

    <p><b>{{ form.course_group.label )):</b></p>
    <p>{{ form.course_group(size=64) }}</p>
    {% for error in form.course_group.errors %}
    <p class="message-text">{{ error }}</p>
    {% endfor %}

    <p><b>{{ form.course_desc.label )):</b></p>
    <p>{{ form.course_desc(rows="4", cols="64") }}</p>
    {% for error in form.course_desc.errors %}
    <p class="message-text">{{ error }}</p>
    {% endfor %}

    <hr />
    <p>{{ form.submit(class="btn btn-primary") }} <input type="button" class="btn btn-secondary" value="Cancel"
            onclick="window.location.href='{{ url_for('main_bp.courses') }}'"></p>
</form>
{% endblock %}
