{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_content %}
{% if current_user.is_anonymous %}
<h1>Welcome to Tracker!</h1>
<p>This page is restricted to administrators and members only.</p>
{% else %}
<h1>Assign Members to a Course</h1>
<ul class="font-italic">
    <li>Assigning or unassigning super administrators does not affect their privileges.</li>
</ul>
<hr />
<h2>{{ course_name }}</h2>
<form action="" method="post" class="no-break-submit-btn">
    <table id="assign-table" class="table table-striped display caption-top responsive" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Member Name</th>
                <th scope="col">Member ID</th>
                <th scope="col">Super Admin?</th>
                <th scope="col">Groups</th>
                <th scope="col">Access</th>
            </tr>
        </thead>
        <tbody>
            {% for m in members_list %}
            <tr>
                <td class="text-nowrap">{{ m.member_name }}</td>
                <td class="text-nowrap">{{ m.member_id }}</td>
                <td class="text-nowrap">{{ m.is_admin }}</td>
                <td class="text-nowrap">{{ m.member_group }}</td>
                <td class="text-nowrap">
                    <table>
                        <tbody>
                            <tr>
                                {% for r in roles_list %}
                                {% if m.role_id == r.role_id %}
                                <td class="border-start border-end px-2">
                                    <input type="radio" name="{{ m.member_id }}_role" value="{{ r.role_id }}" checked />
                                    {{ r.role_name }}
                                </td>
                                {% else %}
                                <td class="border-start border-end px-2">
                                    <input type="radio" name="{{ m.member_id }}_role" value="{{ r.role_id }}" />
                                    {{ r.role_name }}
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr />
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endif %}
<input type="button" class="btn btn-secondary" value="Cancel"
    onclick="window.location.href='{{ url_for('main_bp.courses') }}'">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    assignTableOptions.paging = false
    assignTableOptions.scrollCollapse = true
    assignTableOptions.scrollY = '50vh'
    assignTableOptions.columnDefs = [
        // Applies to Assign column
        { orderable: false, targets: 3 },
    ];
    let assignTable = new DataTable("#assign-table", assignTableOptions);
</script>
{% endblock %}
