{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_content %}
{% if current_user.is_anonymous %}
<h1>Welcome to Tracker!</h1>
<p>This page is restricted to administrators.</p>
<hr/>
{% else %}
<h1>View Member</h1>
<hr/>

<table class="table">
    <caption class="d-none">Member Details</caption>
    <thead>
    <tr>
        <th scope="col" class="d-none">Key:</th>
        <th scope="col" class="d-none">Value:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><b>Member ID:</b></td>
        <td><i>{{member.member_id}}</i></td>
    </tr>
    <tr>
        <td><b>Member Name:</b></td>
        <td><i>{{member.member_name}}</i></td>
    </tr>
    <tr>
        <td><b>Member Email:</b></td>
        <td><i>{{member.member_email}}</i></td>
    </tr>
    </tbody>
</table>
{% endif %}
<p>
    <input type="button" class="btn btn-secondary" value="Return to Members"
           onclick="window.location.href='{{ url_for('main_bp.members') }}'">
</p>
{% endblock %}
