{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block page_description %}{{ page_description_text }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_content %}
<h1>View Role</h1>
<hr />

<table class="table">
    <caption>Member Details</caption>
    <thead>
        <tr>
            <th scope="col" class="d-none">Key:</th>
            <th scope="col" class="d-none">Value:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Role Name:</b></td>
            <td><i>{{ course_name }}</i></td>
        </tr>
        <tr>
            <td><b>Role Privilege:</b></td>
            <td><i>{{ course_code }}</i></td>
        </tr>
    </tbody>
</table>
<hr />
<p><input type="button" class="btn btn-secondary" value="Cancel"
        onclick="window.location.href='{{ url_for('main_bp.roles') }}'"></p>
{% endblock %}
