{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_content %}
{% if current_user.is_anonymous %}
<h1>Welcome to Tracker!</h1>
<p>This page is restricted to administrators and members only.</p>
{% else %}
<h1>View Course</h1>
<hr/>

<table class="table">
    <caption class="d-none">Course Details</caption>
    <thead>
    <tr>
        <th scope="col" class="d-none">Key:</th>
        <th scope="col" class="d-none">Value:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><b>Course Name:</b></td>
        <td><i>{{ course.course_name }}</i></td>
    </tr>
    <tr>
        <td><b>Course Code:</b></td>
        <td><i>{{ course.course_code }}</i></td>
    </tr>
    <tr>
        <td><b>Course Group:</b></td>
        <td><i>{{ course.course_group }}</i></td>
    </tr>
    <tr>
        <td><b>Course Key:</b></td>
        <td><i>{{ course.course_key }}</i></td>
    </tr>
    <tr>
        <td><b>Course Description:</b></td>
        <td><i>{{ course.course_desc }}</i></td>
    </tr>
    </tbody>
</table>
{% endif %}
<p>
    <input type="button" class="btn btn-secondary" value="Return to Courses"
          onclick="window.location.href='{{ url_for('main_bp.courses') }}'">
</p>
{% endblock %}
