{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block head %}
{{ super() }}
<!-- Using DataTables 2.0.0 -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}">
{% endblock %}
{% block content %}
{% if current_user.is_anonymous %}
<h1>Welcome!</h1>
<p>You should log in.</p>
{% else %}
<h1>Assign Users to Course</h1>
<hr>
<h2>{{ course_name }}</h2>

<form action="" method="post">
  <table id="data-table" class="table table-striped display caption-top">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">User ID</th>
        <th scope="col">Access</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users_list %}
      <tr>
        <td class="text-nowrap">{{ u['username'] }}</td>
        <td class="text-nowrap">{{ u['user_id'] }}</td>
        <td>
          {% for r in roles %}
          {% if u['role_id'] == r.role_id %}
          <span class="border-start border-end px-3">
            <input type="radio" name="{{ u['user_id'] }}" value="{{ r['role_id'] }}" checked>{{
            r.role_name }}</input>
          </span>
          {% else %}
          <span class="border-start border-end px-3">
            <input type="radio" name="{{ u['user_id'] }}" value="{{ r['role_id'] }}">{{
            r.role_name }}</input>
          </span>
          {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  <p>{{ form.submit(class="btn btn-primary") }} <input type="button" class="btn btn-secondary" value="Cancel"
      onclick="history.back()"></p>
</form>
{% endif %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
<!-- Using DataTables 2.0.0 -->
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
<script type="text/javascript">
  let table = new DataTable('#data-table', {
    order: [[0, 'asc']],
    paging: false,
    scrollCollapse: true,
    scrollY: '50vh',
    scrollX: true,
    autoWidth: false
  });
</script>
{% endblock %}