{% extends "base.html" %}
{% block page_title %}
{{ page_title }}
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Delete Role</h1>
<hr>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p style="color: red;">
        <strong><em>Are you sure you want to delete {{ role_name }} ({{ role_privilege }})?</em></strong>
    </p>
    <hr>
    <p>{{ form.submit(class="btn btn-danger") }} <input type="button" class="btn btn-secondary" value="Cancel"
            onclick="history.back()"></p>
</form>
{% endblock %}