{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<table id="medTable" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Generic Name</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Action</th>
        <th scope="col">Conditions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    {% if item['schedule'] == 0 and item['blood_thinner'] is false %}
    <tr>
        {% elif item['blood_thinner'] is true %}
    <tr class="bg-danger text-white font-weight-bold">
        {% else %}
    <tr class="bg-warning font-weight-bold">
        {% endif %}
        <td><a href="{{ url_for('details', generic_name=item['generic_name']) }}">{{ item['generic_name'] }}</a></td>
        <td>{{ item['brand_name'] }}</td>
        <td>{{ item['action'] }}</td>
        <td>
            {% for c in item['conditions'] %}
            {{ c }}<br/>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    <tfoot>
    <tr>
        <th scope="col">Generic Name</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Action</th>
    </tr>
    </tfoot>
    </tbody>
</table>
{% endblock %}