{% extends "base.html" %}
{% block page_title %}
{{ page_title_text }}
{% endblock %}
{% block page_description %}{{ page_description_text }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body_header %}
<h1>Hello, World!</h1>
{% endblock %}

{% block main_content %}
<img alt="My Logo" src="{{ url_for('static', filename='img/logo.png') }}" />
<p>You are using the <b>{{ _config_name_text }}</b> configuration and your logging level is
    <b>{{ _logging_level_name_text }} ({{ _logging_level_text }})</b>.
</p>
<a href="/about" title="To the About Page!">To the About Page!</a>
{% endblock %}