{% extends "base.html" %}
{% block page_title %}Welcome to Tracker!{% endblock %}
{% block page_description %}Landing Page{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body_header %}
<h1>Hello, World!</h1>
{% endblock %}

{% block main_content %}
<img alt="My Logo" src="{{ url_for('static', filename='img/logo.png') }}" />
<p>{{ config_msg_text }}</p>
<p>You are using Python {{ python_version_text }} and Flask {{ flask_version_text }}.</p>
<p>Your logging level is <b>{{ logging_level_name_text }} ({{ logging_level_text }})</b>.</p>
<br />
<table>
    <caption>List of Members</caption>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Member Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    {% for m in members_data %}
    <tbody>
        <tr>
            <td>{{m.member_id}}</td>
            <td>{{m.member_name}}</td>
            <td>{{m.member_email}}</td>
        </tr>
    </tbody>
    {% endfor%}
</table>
{% endblock %}
