{% extends "base.html" %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block head %}
{{ super() }}
<!-- Using DataTables 2.0.0 -->
<link rel="stylesheet" type="text/css" href="static/css/dataTables.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="static/css/dataTables.bootstrap5.min.css">
{% endblock %}
{% block content %}
{% if current_user.is_anonymous %}
<h1>Welcome!</h1>
{% else %}
<h1>Welcome, {{ current_user.username }}!</h1>
{% endif %}
<table id="userTable" class="table table-striped display caption-top">
  <caption class="text-center">Users</caption>
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Group</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for user in users %}
    <tr>
      <th scope="row">{{ user.user_id }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.user_email }}</td>
      <td>{{ user.user_group }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="static/js/jquery-3.7.0.min.js"></script>
<!-- Using DataTables 2.0.0 -->
<script type="text/javascript" src="static/js/dataTables.min.js"></script>
<script type="text/javascript" src="static/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript">
  let table = new DataTable('#userTable');
</script>
{% endblock %}