<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}{{ page_title }}{% endblock %}
  </title>
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
  <link rel="icon" type="image/x-icon" href="static/img/logo.png">
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/base.css">
  <!-- Using DataTables 2.0.0 -->
  <link rel="stylesheet" type="text/css" href="static/css/dataTables.dataTables.min.css">
  {% endblock %}
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ url_for('index') }}" title="Home">
          <img src="static/img/logo.png" alt="RGC" class="nav_logo" />
        </a>
        <a class="navbar-brand" href="{{ url_for('index') }}" title="Home">Class Manager</a>
        <!-- Hamburger Menu Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!-- Align to the right -->
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ">
              <a class="nav-link" href="{{ url_for('index') }}" title="Home">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{{ url_for('about') }}" title="About">About</a>
            </li>
            {% if current_user.is_anonymous %}
            <li class="nav-item ">
              <a class="nav-link" href="{{ url_for('login') }}" title="Log In">Login</a>
            </li>
            {% else %}
            <li class="nav-item ">
              <a class="nav-link" href="{{ url_for('logout') }}" title="Log Out">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/garciart" target="_blank" title="GitHub Repository">GitHub <i
                  class="fab fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main role="main">
    <div class="container">

      <div id="content">
        <!-- Prevents Firefox FOUC -->
        <script>let FF_FOUC_FIX;</script>
        {% block content %}
        {% endblock %}
        <table id="userTable" class="table table-striped display">
          <caption class="text-center">Users</caption>
          <thead>
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Group</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for user in users %}
            <tr>
              <td>{{ user.user_id }}</th>
              <td>{{ user.user_name }}</td>
              <td>{{ user.user_email }}</td>
              <td>{{ user.user_group }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="text-center">
      &copy; <span id="currentYear"></span> -
      <a href="{{ url_for('index') }}" title="Home">Flask Template</a>
    </div>
    {% block footer %}
    {% endblock %}
  </footer>
  <script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="static/js/base.js"></script>
  <script type="text/javascript" src="static/js/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="static/js/dataTables.min.js"></script>
  <script type="text/javascript">
    let table = new DataTable('#userTable');
  </script>
  {% block scripts %}
  {% endblock %}
</body>

</html>