{% extends "base.html" %}
{% block title %}
{{ page_title }}
{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/mermaid.min.css">
{% endblock %}
{% block content %}
<h1>Welcome, {{ current_user.username }}!</h1>
<p class="important">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum.
  <a href="https://rgcoding.com" title="RG Coding">RG Coding</a>
<div id="table"></div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="static/js/gridjs.umd.js"></script>
<script type="text/javascript">
  new gridjs.Grid({
    columns: [
      { id: 'name', name: 'Name' },
      { id: 'email', name: 'Email' },
      { id: 'group', name: 'Group' },
    ],
    data: [
      {% for user in users %}
        {
      name: '{{ user.username }}',
      email: '{{ user.user_email }}',
      group: '{{ user.user_group }}',
    },
    {% endfor %}
    ],
    search: true,
    sort: true,
    pagination: {
    limit: 10,
  },
  }).render(document.getElementById('table'));
</script>
{% endblock %}